body{
    background-color: #DCDBD6;
    margin: 0px;
    padding: 0px 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-h1{
    font-size: 20rem;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    top: -50px;
    margin: 0;
    border-bottom: 2px solid #000;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
}

@media (max-width:1200px) {
    .about-h1{
        font-size: 10rem;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        top: -20px;
        margin: 0;
        border-bottom: 2px solid #000;
        display: inline-block;
        font-family: 'Barlow Condensed', sans-serif;
        text-align: left;
    }
}


.project-h1{
    font-size: 10rem;
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #000;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
}

.project{
    margin-top:100px ;
}

.projectts{
    margin-top: 0;
}

.project-heading{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15rem;
    margin: 0;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hide-preloader 5s forwards; /* Added animation for hiding the preloader */
    }
    
    
    .preloader-inner {
    width: 30px;
    height: 30px;
    border: 5px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
    to { transform: rotate(360deg); }
    }
    
    @keyframes slide-out-preloader {
    0% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
    }

.prj-img{
    width: 100%;
    height: 100%;
    margin: 5px;
    overflow: hidden;
}
.prj-img img{
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.prj-img:hover img{
    opacity: .7;
    transform: scale(1.05);
    transition: .3s ease-in-out;

}

.project-heading2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
}

.about-content p{
    font-size: 2rem;
    margin: 0px 10px;
    line-height: 40px;
}


@media (max-width:700px){
    .about-content p{
        font-size: 1rem;
        margin: 0px 10px;
        line-height: 25px;
    }
    .project{
        margin-top:50px ;
    }
}
@media (max-width:600px) {
    .about-h1{
        font-size: 5rem;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        top: -20px;
        margin: 0;
        border-bottom: 2px solid #000;
        display: inline-block;
        font-family: 'Barlow Condensed', sans-serif;
        text-align: left;
    }
    .project-h1{
        font-size: 5rem;
    }
    .project-heading2{
        font-size: 2rem;
    }
    .project-heading{
        font-size: 7rem;
    }

}

.video-prj{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.video-prj video{
    height: 100%;
    width: 100%;
}

.footer a{
    margin-right: 20px;
    margin-top: 10px;
}
.footer p{
    letter-spacing: 5px;
}
